body {
    text-align: -webkit-center;
}

.detail-container{
    padding: 20px;
    margin-bottom: 20px;
    /* background-color: #f8f8f8; */
    border-bottom: 1px solid rgba(128, 127, 127, 0.534);
    margin: 10px 10px 10px 10px;
    max-width: 860px;
    text-align: start;
}
.detail-title{
    max-height: 100px;
    background-color: #fff;
}
.title-h2{
    font-size: 22px;
    margin-top: 25px;
}
hr{
    margin-top: 5px;
    border: 0;
    border-top: 1px solid #eee;
}

.detail-userInfo{
    display: flex;
    justify-content: space-between;
    color: #333;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    background-color: #fff;
}
.detail-userInfo .userName{
    font-size: 14px;
    color: #2a6496;
}
.detail-userInfo p{
    margin-top: 0;
    margin-bottom: 3px;
    display: block;
    font-size: 12px;
}
.detail-userInfo svg{
    width: 22px;
    height: 15px;
}
.pull-right{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.content-count{
    float: left;
    width: 50px;
    text-align: right;
    display: block;
}
.content-count p{
    text-align: center;
}
.detail-dec {
    padding: 15px;
    width: 100%;
    margin: 0;
    background-color: #fff;
    max-width: 840px;
}
.detail-button{
    padding: 10px;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 860px;
}
.detail-button button{
    position: relative;
    display: inline-block;
    zoom: 1;
    margin: 0;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: normal;
    color: white !important;
    background: #8bd6f1 !important;
    border: none;
    border-radius: 0;
    text-decoration: none !important;
    cursor: pointer;
    vertical-align: middle;
    text-shadow: none;
    box-shadow: none;
    transition-duration: 0.3s;
    box-sizing: content-box;
}
.detail-auto{
    text-align: -webkit-center;
}
.detail-auto{
    text-align: -webkit-center;
}

/*comment*/
.comment-container{
    max-width: 860px;
    padding: 10px;
}
.comment-count{
    margin: 0;
    border-bottom: 1px solid black;
    float: left;
    margin-bottom: 1rem;
}
.comment-count h4{
    margin: 0;
}
.comment-container table{
    width: 100%;
    max-width: 840px;
    border-bottom: 0.5px solid rgb(211, 211, 211);
}
.comment-container table tbody{
    display: flex;
    justify-content: space-between;
    margin: 10px 5px 0px 5px;
    padding: 0 10px 5px 10px;
}
.comment-container table tfoot tr{
    display: block;
    padding: 13px 25px 13px 25px;
    margin-bottom: 3px;
}
.right-info a{
    margin-left: 5px;
}
.comment-container table tbody .left-info-nick{
    display: block;
    font-weight: bold;
    color: cornflowerblue;
    margin-right: 8px;
}
.comment-txt textarea{
    resize: none;
    padding: 1rem 1rem 1.5rem;
    outline: none;
    border: 1px solid rgb(233, 236, 239);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 4px;
    min-height: 6.125rem;
    font-size: 1rem;
    color: rgb(33, 37, 41);
    line-height: 1.75;
    max-width: 840px;
}
.comment-button{
    max-width: 840px;
    text-align: left;
}
.comment-button button{
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    background: #8bd6f1;
    color: white;
    border-radius: 4px;
    padding: 0px 1.25rem;
    height: 2rem;
    font-size: 1rem;
}
/*comment*/

/*추가*/
.comment-fixTxt textarea{
    resize: none;
    padding: 1rem 1rem 1.5rem;
    outline: none;
    border: 1px solid rgb(233, 236, 239);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 4px;
    min-height: 6.125rem;
    font-size: 1rem;
    color: rgb(33, 37, 41);
    line-height: 1.75;
    max-width: 840px;
}
.comment-fixTxt button{
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    background: #8bd6f1;
    color: white;
    border-radius: 4px;
    padding: 0 7px;
    height: 2rem;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;
}
/*추가*/