a{
    text-decoration: none;
  }
  
  a:hover{
    color: black;
  }
  ol, ul, li {
      list-style: none;
  }
  body {
    font-family: 'Lato', sans-serif;
    background-color: #f8f8f8;
  }
  body .container {
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 530px;
    margin: 160px auto 0;
    background: rgba(255, 255, 255, 0.767);
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 12px 0px;
    animation: 0.4s ease-in-out 0s 1 normal forwards running slide;
  }

  body .container2 {
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 530px;
    margin: 160px auto 0;
    background: rgba(255, 255, 255, 0.767);
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 12px 0px;
    animation: 0.4s ease-in-out 0s 1 normal forwards running slide;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(400px) scale(0.75);
  }
  75% {
      opacity: 1;
      transform: translateY(-16px) scale(1);
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
  }
  body .container .modal {
    padding: 40px 40px 0;
  }
  body .container h1 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 23px;
    text-align: center;
    text-indent: 6px;
    letter-spacing: 7px;
    color: #263238;
  }
  body .container .tabs {
    width: 100%;
    margin-bottom: 35px;
    border-bottom: 1px solid #8bd6f1;
  }
  body .container .tabs .tab {
    display: inline-block;
    margin-bottom: -1px;
    padding: 20px 15px 10px;
    cursor: pointer;
    letter-spacing: 0;
    border-bottom: 1px solid #8bd6f1;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    transition: all 0.1s ease-in-out;
    color: #fff;
  }
  body .container .tabs .tab a {
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(155, 153, 153);
    transition: all 0.1s ease-in-out;
  }
  body .container .tabs .tab.active a, body .container .tabs .tab:hover a {
    color: black;
    font-weight: bold;
  }
  body .container .tabs .tab.active {
    border-bottom: 1px solid #02057c;
    color: #02057c;
  }
  body .container .content form {
    position: relative;
  }
  body .container .content label {
    font-size: 12px;
    color: #fff;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  body .container .content label:not([for='remember']) {
    display: none;
  }
  .otherinput input.inpt2{
    font-size: 14px;
    display: block;
    width: 270px;
    height: 33px;
    margin-bottom: 16px;
    padding: 10px 10px;
    color: rgb(155, 153, 153);
    border: 2px solid rgb(155, 153, 153);
    background: transparent;
    border-radius: 2px;
  }
  body .container .content input.inpt {
    font-size: 14px;
    display: block;
    width: 200px;
    height: 33px;
    margin-bottom: 15px;
    padding: 10px 10px;
    color: rgb(155, 153, 153);
    border: 2px solid rgb(155, 153, 153);
    background: transparent;
    border-radius: 2px;
  }
  .content p{
    color: red;
    margin: 0;
  }
  .checkBlock{
    display: flex;
  }
  .checkButton{
    height: 33px;
    margin-left: 5px;
    background-color: #8bd6f1;
    border: 0;
    color: #fff;
  }
  body .container .content input.inpt::-webkit-input-placeholder {
    font-size: 14px;
    color:rgb(155, 153, 153);
    font-family: 'Lato', sans-serif;
  }
  body .container .content input.inpt:-moz-placeholder {
    font-size: 14px;
    color:rgb(155, 153, 153);
    font-family: 'Lato', sans-serif;
  }
  body .container .content input.inpt::-moz-placeholder {
    font-size: 14px;
    color: rgb(155, 153, 153);
    font-family: 'Lato', sans-serif;
  }
  body .container .content input.inpt:-ms-input-placeholder {
    font-size: 14px;
    color: rgb(155, 153, 153);
    font-family: 'Lato', sans-serif;
  }
  body .container .content input.inpt:focus {
    border-color: rgb(155, 153, 153);
  }
  body .container .content input.submit {
    font-size: 12px;
    line-height: 42px;
    display: block;
    width: 100%;
    height: 42px;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #8bd6f1;
  }
  body .container .content input.submit:hover {
    background-color: #354750;
    color: #ffffff;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  body .container .content input:focus {
    outline: none;
  }
  body .container .content .checkbox {
    margin-top: 4px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    margin: 17px -1px;
    padding: 0;
    border: 0;
  }
  body .container .content .checkbox + label {
    vertical-align: middle;
    display: inline-block;
    width: 50%;
  }
  body .container .content .checkbox + label:before {
    content: "\A";
    color: #999999;
    font-family: Verdana;
    font-weight: bold;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: transparent;
    border: 1px solid #fff;
    width: 11px;
    height: 11px;
    margin: -2px 8px 0 0;
  }
  body .container .content .checkbox:checked + label:before {
    content: "✓";
  }
  body .container .content .submit-wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: -80px;
  }
  body .container .content .submit-wrap a {
    font-size: 12px;
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
  body .container .content .submit-wrap a:hover {
    text-decoration: underline;
  }
  body .container .content .signup-cont {
    display: none;
  }
  .credits {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    margin: 0 10px 10px 0;
  }
  .credits a {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    color: inherit;
    font-weight: 700;
    text-decoration: none;
  }
  .exit-wrapper {
      display: flex;
      -webkit-box-pack: end;
      justify-content: flex-end;
      font-size: 1.5rem;
      color: #8bd6f1;
  }
  .exit-wrapper svg{
      cursor: pointer;
  }


  /* 수정사항*/
  .inpt-login {
    margin-bottom: 25px;
  }
  .signin-cont form h4{
    color:rgb(155, 153, 153);
    text-align: center;
    margin-top: 33px;
  }
  .signin-cont form h4 a{
    color:#8bd6f1;
  }
  /* 수정사항*/