.body-content {
    display: block;
    width: 100%;
    height: 560px;
    border-radius: 0.5rem;
    border-bottom: 1px solid rgb(233, 236, 239);
    overflow: scroll;
    margin: 30px 10px 15px 10px;
}
.body-header {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 0.5rem;
    margin-top: 30px;
    padding: 0 10px 0 10px;
    max-width: 860px;
}
.body-header textarea {
    width: 90%;
    border: none;
    outline: none;
    resize: none;
    margin-left: 5px;
    margin-top: 2px;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border-top: 1px solid rgb(233, 236, 239);
    border-bottom: 1px solid rgb(233, 236, 239);
}
.body-header button {
    height: 60px;
    width: 60px;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 0.4rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: #8bd6f1;
    color: #fff;
}
.board-container{
    text-align: -webkit-center;
}


/* table section*/
.board-list{
    width: 90%;
    margin: 15px 30px 15px 45px;
    max-width: 860px;
}
.board-list table{
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    border: 0;
    font-size: 13px;
    border-collapse: collapse;
}
.board-list table .title{
    width: auto;
    text-align: center;
}
.board-list table .user{
    width: 80px;
    text-align: center;
}
.board-list table .date{
    width: 80px;
    text-align: center;
}
.board-list table td{
    padding: 10px 0;
    /* height: auto; */
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    max-height: 60px;
    /* overflow: scroll; */
}
.board-list table tbody tr td{
    word-break: break-all;
    border: 0;
    border-bottom: 1px solid #f1f1f1;
}
.board-list table tbody tr .title{
    text-align: left;
}
/* table section*/