*{
    margin: 0 0 0 0;
}
a{
    text-decoration: none;
}
/* write */
.write-header{
    margin: 0 0 0 0;
    width: 100%;
    height: 50px;
    background-color: #8bd6f1;
    text-align: center;
    color: #fff;
}
.write-header h3{
    padding-top: 15px;
}

.container-section{
    width: 100%;
    height: 100%;
    display: flex;
    animation: 0.5s ease 0s 1 normal forwards running bcCCNc;
}
button.transparent-btn{
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
.post-title {
    width: 100%;
}
article > div.post-title > textarea {
    display: block;
    width: 90%;
    height: 3rem;
    font-size: 26px;
    border: none;
    outline: 0 none;
    resize: none;
    color: #202020;
    line-height: 45px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding: 14px 10px 10px 10px;
}
.post-tag input{
    display: block;
    width: 100%;
    height: 3rem;
    font-size: 14px;
    border: none;
    outline: 0 none;
    resize: none;
    color: #202020;
    line-height: 40px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding-left: 40px;
}
.write-container{
    min-width: 0px;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.016) 0px 0px 8px;
    height: 100%;
}
.post-textarea{
    display: block;
    width: 90%;
    height: 622px;
    font-size: 20px;
    border: none;
    outline: 0 none;
    resize: none;
    padding: 15px 10px 50px 10px;
}
/* write */


/* footer */
footer.post-comment{
    position: relative;
    height: 70px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
}
.exit-btn{
    position: absolute;
    left: 20px;
    top: 50%;
    font-size: 18px;
    transform: translateY(-50%);
}
.transparent-btn{
    color: #0095f6;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
/* footer */